<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bdb758b7-4233-4e97-b69e-2b0f103ca138/resourceGroups/WEB524/providers/Microsoft.Web/sites/mgpatel12-wa-web524-a6</ResourceId>
    <ResourceGroup>WEB524</ResourceGroup>
    <RuntimeIdentifier />
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mgpatel12-wa-web524-a6.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>mgpatel12-wa-web524-a6.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mgpatel12-wa-web524-a6</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$mgpatel12-wa-web524-a6</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mgpatel12-ds-web524.database.windows.net,1433;Initial Catalog=mgpatel12-db-web524-a6;Persist Security Info=False;User ID=mgpatel12;Password=Mgp,.6805;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:mgpatel12-ds-web524.database.windows.net,1433;Initial Catalog=mgpatel12-db-web524-a6;Persist Security Info=False;User ID=mgpatel12;Password=Mgp,.6805;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MGP2237A5.Models.ApplicationDbContext, Web App Project Template V2" MigrationConfiguration="MGP2237A5.Migrations.Configuration, Web App Project Template V2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:mgpatel12-ds-web524.database.windows.net,1433;Initial Catalog=mgpatel12-db-web524-a6;Persist Security Info=False;User ID=mgpatel12;Password=Mgp,.6805;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>